node_modules
.env
package-lock.json
server/research-output/ema-data-1789041161149.json
server/research-output/ema-data-1789061547934.json
server/research-output/ema-data-oos-60-1789165540440.json
server/dist/