.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F3BA2F
}

/* set the container width and height to full width and height of the page */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* The first and third rows should adjust their height to fit their content */
.row:first-of-type, .row:last-of-type {
  flex: 0 0 auto;
}

/* The middle row should expand to fill the remaining space */
.row:nth-of-type(2) {
  flex: 1 1 auto;
  overflow: hidden;
}

/* Create columns with flexbox and set their width to one-third of the container width */
.col {
  flex: 1 1 0;
  max-width: calc(100% / 3);
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* set the fourth column to full width and height of the container */
.full-width {
  flex: 1 1 100%; /* set flex-grow to 1, flex-shrink to 1, and flex-basis to 100% */
  overflow: auto; /* allow overflow content to scroll */
  margin: 0; /* remove the margin */
  padding: 0; /* remove the padding */
}

.center {
  text-align: center
}

.flex-no-grow {
  flex: 0 0 auto
}

.flex-grow {
  flex: 1 1 auto;
  overflow: auto
}