.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F3BA2F
}

/* set the container width and height to full width and height of the page */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; /* remove the margin */
  padding: 0; /* remove the padding */
}

/* create rows with flexbox */
.row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; /* hide overflow content */
  margin: 0; /* remove the margin */
  padding: 0; /* remove the padding */
}

/* create columns with flexbox and set their width to auto */
.col {
  flex: 1 1 0; /* set flex-grow to 1, flex-shrink to 1, and flex-basis to 0 */
  overflow: auto; /* allow overflow content to scroll */
  max-width: calc(100% / 3); /* limit the width of each column to one-third of the container width */
  margin: 0; /* remove the margin */
  padding: 0; /* remove the padding */
}

/* set the fourth column to full width and height of the container */
.full-width {
  flex: 1 1 100%; /* set flex-grow to 1, flex-shrink to 1, and flex-basis to 100% */
  overflow: auto; /* allow overflow content to scroll */
  margin: 0; /* remove the margin */
  padding: 0; /* remove the padding */
}

.center {
  text-align: center
}